body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.menu {
    list-style: none;
    padding: 10px;
    display: table;
    margin: 0 auto;
    position: relative;
    top: 100px;
}

.menu li{
    float: left; 
    display: table-cell;
    margin-left: 20px;
}

.menu li:first-child {
    margin-left: 0px;
}

@keyframes to_black
{
0%  { 
        background-color: transparent;
    }
}

.button {
    background-color: transparent;
    border-radius: 0;
    width: 100px;
    height: 40px;
    border: 2px solid black;
    color: black;
    font-weight: bold;
}

.button:hover {
    background-color: black;
    color: white;
    animation: to_black 0.2s ease-out;
}
